.card {
  background: purple !important;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 1rem;
  border-radius: 8px;
}

.card ul {
  margin-top: 0;
  margin-bottom: 0;
}

.card a {
  text-decoration: none;
  color: var(--base-txt-color);
}
